<h1>Editing Meter Reading</h1>

<%= render 'form', meter_reading: @meter_reading %>

<%= link_to 'Show', admin_meter_reading_path(@meter_reading) %> |
<%= link_to 'Back', admin_meter_readings_path %>
