<h1>Editing Billing Period</h1>

<%= render 'form', billing_period: @billing_period %>

<%= link_to 'Show', admin_billing_period_path(@billing_period) %> |
<%= link_to 'Back', admin_billing_periods_path %>
